html, body {
    font-family: 'Open Sans', sans-serif;
    background: white;
}

a {
    text-decoration: none !important;
}

button {
    border: 0;
    padding: 0;
    background: white;
}

.text-center {
    text-align: center;
}

.inline-block {
    border-radius: 7px;
    border: 2px solid lightgrey;
    height: 100px;
    width: 600px;
    margin-top: 20px;
    display: inline-block;
}

.container {
    padding-top: 100px;
}

.main-container {
    margin: 40px;
    padding: 40px;
}


.input-container {
    margin-top: 10px;
    position: relative;
}

.input-container span {
    position: relative;
    top: -11px;
}

.logo {
    margin: 10px 0 50px;
}

.conversationContainer {
    margin: auto;
}

@media (min-width: 900px) {
    .conversationContainer {
        width: 860px;
    }
}


.textBox {
    margin-top: 40px;
    width: 100%;
    height: 80px;
    border: 1px solid #f0f0f5;
    border-radius: 3px;
    box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.3);
}

h4 {
    font-size: 4em;
    font-weight: 300;
    line-height: 1.5em;
}

md-input-container {

    padding: 30px 25px;
}

.results {

    max-height: 2000px;
    opacity: 1;
    transition: all ease-out 0.4s;
    overflow: hidden;
}

.results p {
    font-size: 3em;
}

.results.ng-hide {
    opacity: 0;
    max-height: 0;
}

.results .show-in-delay {
    opacity: 1.0;
    transition: all ease-out 0.4s;
}

.result-path ul li span {
    color: #3F51B5;
}

.result-path ul li span.result-even {
    color: #2196F3;
}

.go {
    margin-top: 15px;
    transition: all ease-out 0.4s;
}

.hoverSidenav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    opacity: 0;
}
.state {
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 55px;
    width: 250px;
    height: 170px;
    background: #D81B60;
}

.stateText{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    /*line-height:1em;*/
    font-weight: bold;
    /*font-size: 50px;  !* Preferred icon size *!*/
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
}


.md-sidebar-left{
    background: #E4E6F1;
}

.pinButton{
    margin-top: 20px;
    background: #304FFE !important;
}
.pressed {
    background: #BBDEFB !important;
}

/*todo: check how to make line thinner*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
}
.material-icon-pin {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    display: inline-block;
    text-align: right;
    /*line-height: 1.5;*/
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;

}

.md-icon-button.dialog {
    margin-right: 3px !important;
    padding: 0;
    border-radius: 0;
}

.md-icon-button.dialog i {
    color: #d3d3da;
    border-radius: 0;
    font-size: 50px;
    line-height: 1em;
}

.extra-container {
    width: 350px;
    margin: 40px 0;
}

.navBar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    height: 80px;
    border-bottom: 1px solid #ededf1;
}

.navBar .navbar-list {
    margin: 0;
}

.navBar .navBarButton {
    color: #304FFE;
    font-size: 2.0em;
    font-weight: 800;
    line-height: 2.6em;
    padding: 27px 40px;
    margin-right: 16px;
    transition: all ease-out 0.2s;
}

.navBar .navBarButton:hover {
    background: #e6e6ed;
}

.googleSignIn {
    margin: 30px 0 20px;
}

.googleSignIn img {
    width: 340px;
}
.mailSubjectDiv{
    width: 300px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid lightgrey;
    border-radius: 7px;
    box-sizing: border-box;
}
.mailSubjectDiv input{
   margin-top: 10px;
}
.mailContentDiv{
    border-top: 300px;

}
.mailContentInput{
    width: 100%;
    height:400px;
    margin-left: 20px;
    border-top: 300px;
    padding: 0px 20px;
    display: inline-block;
    border: 2px solid pink;
    border-radius: 7px;
    box-sizing: border-box;
}