<navbar></navbar>
<sidenav></sidenav>
<div class="mailContentDiv">
    <h4>
        Write your email (subject is optional)
    </h4>
    <form ng-submit="go($event)">
        <div>
            <label class="inputGroup">
                Subject
            </label>
            <input type="text" class="subjectTextBox" ng-model="subject">
        </div>
        <div class="inputGroup">
            <label>
                Body
            </label>
            <textarea type="text" class="contentTextBox" ng-model="body"></textarea>
        </div>
        <md-button type="submit"></md-button>
    </form>
</div>