<div class="mailSubjectDiv">
    <div>
        <md-input-container md-no-float class="mailSubjectDiv">
            <input type="text" placeholder="Enter the mail's subject">
        </md-input-container>
    </div>

</div>



<div class="mailContentDiv">
    <div>
        <!--<input type="text" name="mailContent" placeholder="Mail's content">-->
            <md-input-container md-no-float class="contentMailInput" >
                <textarea rows="5"  placeholder="Mail's content"
                ></textarea>
            </md-input-container>
    </div>
</div>