<navbar></navbar>
<sidenav></sidenav>

<h4>
    Who do you want to send it to?
</h4>
<md-content class="contactDiv">

    <md-list flex>

        <md-list-item class="md-2-line" ng-click="next($event)">
            <img width="120" ng-src="assets/images/gilad_contact.jpg" class="md-avatar" alt="gilad" />
            <div class="md-list-item-text" layout="column">
                <h3>Gilad Lumbroso</h3>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line"  ng-click="next($event)">
            <img width="120" ng-src="assets/images/omer_contact.jpg" class="md-avatar" alt="omer" />
            <div class="md-list-item-text" layout="column">
                <h3>Omer Alon</h3>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line"  ng-click="null">
            <img  width="120" ng-src="assets/images/laure_contact.jpg" class="md-avatar" alt="laure" />
            <div class="md-list-item-text" layout="column">
                <h3>Laure Scemama</h3>
            </div>
        </md-list-item>
    </md-list>
</md-content>