<navbar></navbar>
<sidenav></sidenav>
<div class="mailContentDiv">
    <h4>
        Write your email (subject is optional)
    </h4>
    <form ng-submit="next($event)">
        <div>
            <label class="inputGroup">
                Subject
            </label>
            <input type="text" class="subjectTextBox" ng-model="content.subject">
        </div>
        <div class="inputGroup">
            <label>
                Body
            </label>
            <textarea type="text" class="contentTextBox" ng-model="content.body"></textarea>
        </div>
        <md-button class="mainButton" type="submit">
            Next
        </md-button>
    </form>
</div>