<navbar></navbar>
<sidenav></sidenav>

    <div class="md-toolbar-people">
        <span>People</span>
    </div>


<md-content>
    <md-list flex>
        <md-subheader class="subHeaderContacts">Choose your addressee</md-subheader>
        <!--<md-list-item class="md-2-line" ng-repeat="contact in contacts" ng-click="null">-->
            <!--<img ng-src="{{contact.photo}}" class="md-avatar" alt="{{contact.name}}" />-->
            <!--<div class="md-list-item-text" layout="column">-->
                <!--<h3>{{ contact.name }}</h3>-->
            <!--</div>-->
        <!--</md-list-item>-->
        <md-list-item class="md-2-line" ng-click="null">
            <img width="120" ng-src="assets/images/gilad_contact.jpg" class="md-avatar" alt="gilad" />
            <div class="md-list-item-text" layout="column">
                <h3>Gilad Lumbroso</h3>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line"  ng-click="null">
            <img width="120" ng-src="assets/images/omer_contact.jpg" class="md-avatar" alt="omer" />
            <div class="md-list-item-text" layout="column">
                <h3>Omer Alon</h3>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line"  ng-click="null">
            <img  width="120" ng-src="assets/images/laure_contact.jpg" class="md-avatar" alt="laure" />
            <div class="md-list-item-text" layout="column">
                <h3>Laure Scemama</h3>
            </div>
        </md-list-item>
    </md-list>
</md-content>