<div ng-mouseover="openLeft()" class="hoverSidenav" ></div>
<md-sidenav layout="column" class="md-sidebar-left" md-component-id="left"
            md-disable-backdrop md-whiteframe="4" ng-mouseover="openLeft()" ng-mouseleave="closeLeft()">

    <!--pin sidenav button-->
    <div class="pinButtonDiv">
        <md-button class="md-fab md-mini pinButton">
            <i class="material-icon-pin">chrome_reader_mode</i>
        </md-button>
    </div>



    <!--list of steps, representing the process in making-->
    <md-list>
        <!-- List item #1 -->
        <md-list-item>
            <state class="state1"></state>
        </md-list-item>

        <!-- List item #2 -->
        <md-list-item>
            <state class="state2"></state>
        </md-list-item>

    </md-list>

</md-sidenav>

