<div ng-mouseover="openLeft()" class="hoverSidenav" ></div>
<md-sidenav layout="column" class="md-sidebar-left" md-component-id="left"
            md-disable-backdrop md-whiteframe="10" ng-mouseover="openLeft()" ng-mouseleave="closeLeft()">

    <!--pin sidenav button-->
    <div class="pinButtonDiv">
        <md-button class="md-fab md-mini pinButton" ng-click="toggleStick()" ng-class="{'pressed': stick}">
        <image height="20px" width="20px"
       src="assets/images/pin-logo-white.png">
        </image>
        </md-button>
    </div>

    <!--list of steps, representing the process in making-->
        <!-- List item -->
<ul>
    <li ng-repeat="state in states">
        <state text="text" icon="icon" color="color" class="state1"></state>
    </li>
</ul>

            <!--<state class="stateCard" style="background: {{state.color}}"></state>-->


</md-sidenav>

