<md-dialog aria-label="Sign Up">
    <form ng-cloak>
        <md-toolbar style="background: white;">
            <div class="md-toolbar-tools">
                <h2>Sign In</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content text-center">
                <h2>Sign in with your Google account</h2>
                <button class="googleSignIn">
                    <img src="assets/images/btn_google_signin_dark_normal_web@2x.png" />
                </button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>