<md-dialog aria-label="Sign Up">
    <form ng-cloak>
        <md-toolbar style="background: white;">
            <div class="md-toolbar-tools">
                <h2>Sign In</h2>
                <span flex></span>
                <md-button class="md-icon-button dialog" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content text-center">
                <div class="extra-container">
                    <h2 style="margin-bottom: 40px">Sign in with your Google account</h2>
                    <div ng-include="googleButtonContainer"></div>
                    <script type='text/ng-template' id='googleButton'>
                        <div id="googleButtonPlaceholder" class="text-center"></div>
                    </script>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>